body{
    font:'allitha',small-caps;
    color: rgba(0,0, 0, 1);
    text-align: center;
    text-transform: capitalize;
    letter-spacing: .5em;
    top:15%;
    background: linear-gradient(to left,blue,yellow);
}

h1{
    font:"allitha";
}